minio:
  enabled: false

kafka:
  enabled: false

mimir:
  structuredConfig:
    multitenancy_enabled: true
    server:
      log_level: info
      log_format: json
    ingest_storage:
      enabled: false
    ingester:
      push_grpc_method_enabled: true
    blocks_storage:
      backend: s3
      s3:
        endpoint: minio.monitoring.svc:9000
        bucket_name: mimir-tsdb
        access_key_id: minio
        secret_access_key: minio123
        insecure: true
    alertmanager_storage:
      backend: s3
      s3:
        endpoint: minio.monitoring.svc:9000
        bucket_name: mimir-ruler
        access_key_id: minio
        secret_access_key: minio123
        insecure: true
    ruler_storage:
      backend: s3
      s3:
        endpoint: minio.monitoring.svc:9000
        bucket_name: mimir-ruler
        access_key_id: minio
        secret_access_key: minio123
        insecure: true
    ruler:
      alertmanager_url: http://alertmanager.monitoring.svc:9093
      enable_api: true
    limits:
      max_total_query_length: 168h
      max_query_parallelism: 8

alertmanager:
  zoneAwareReplication:
    enabled: false

distributor:
  replicas: 1

ingester:
  replicas: 1
  zoneAwareReplication:
    enabled: false

compactor:
  replicas: 1

querier:
  replicas: 1

query_frontend:
  replicas: 1

query_scheduler:
  replicas: 1

store_gateway:
  replicas: 1
  zoneAwareReplication:
    enabled: false

ruler:
  replicas: 1
