apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app.kubernetes.io/instance: grafana
    app.kubernetes.io/name: grafana
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: mimir
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app.kubernetes.io/component: query-frontend
    app.kubernetes.io/instance: mimir
    app.kubernetes.io/name: mimir
  ports:
    - name: http
      port: 8080
      targetPort: http-metrics
      nodePort: 31000
